:root {
  --primary: #5D3FD3; /* Deep Purple */
  --secondary: #1b1a13; /* Soft Yellow */
  --text-color: #485325;
  --hover-color: #FF4500; /* Bright Orange */
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--text-color);
}
ul{
  list-style-type: none;
  

}
a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
}

#header {
  background-color: var(--primary);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  height: 20vh;
  border-radius: 23px;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

#navigation, #extra {
  flex: 1 1 200px;
  background: var(--secondary);
  padding: 10px;
}

#content {
  flex: 3 1 500px;
  padding: 15px;
}

#footer {
  background: var(--primary);
  color: rgb(137, 42, 42);
  text-align: left;
  padding: 10px;
  margin-top: 20px;
}
.pokemon{
  height: 100px;
  width: auto;
  animation: fly 10s infinite ;
  
}
@keyframes fly {
  0%, 100%{transform: translatey(30px);}
  50%{transform: translatey(200px);}
  75%{transform: translatey(800px);}
  90%{transform: translatey(240px)}
}
/* Mobile Responsive */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
    text-align: center;
  }

  #navigation, #extra {
    flex: 1 1 100%;
  }
  .pokemon{
    display: none;
  }
}
