:root{
    --blue:rgb(21, 25, 45);
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../pictures/stuff/bck-starnight\ black.gif'); 
    background-position: center;
    background-size: cover; /* Ensures the image covers the full screen */
    color: white;
    font-family: monospace;
}
h1{
    font-size: 54px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-size: 27px;
    margin: 8px;
}
p{
    font-size: 28px;
    text-decoration: underline;
    margin: 0;
    word-spacing: -4px;
}
img{
    border-radius: 23px;
    width: 30vw;
    height: 30vh;
    padding: 8px;
    background: #ffffff;
    margin: 0;
    margin: 0;
}
a{
    padding: 0;
    margin: 0;
    color:  rgb(0, 191, 255);
    text-decoration: none;
}
a::after{
    color: red;
}
.row{
    display: flex;
    flex-direction: row;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22px;
}
.neck{
    margin: 0;
   border: solid 4px white ;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    
}
.base{
    margin: 0;
    padding: 8px;
    background: #ffffff;
    height: 10px;
    width: 30%;
border-top-left-radius:8px ;
border-top-right-radius:8px ;

}
@media (max-width: 600px) {
    .row{
        display: flex;
        flex-direction: column;
        background-color: rgba(59, 80, 80, 0.574);
        border-radius: 8px;
        margin: 12px;
    }
}

