/* Inspired by this pen by Pieter Biesemans https://codepen.io/pieter-biesemans/pen/BQBWXX and My Mother Before Me project http://mymotherbeforeme.com/ */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
 background-color: rgb(16, 12, 29) ;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #74cf58;
}
* {
  box-sizing: border-box;
  scrollbar-width: none;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.external {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0, -100vh, 0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
  transform-style: preserve-3d;
  padding-bottom: 10rem;
}
.img-wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(0.1px) scale(0.9) translateX(0px)
  translateY(-3vh);
  transition: 1.5s;
  max-width:500px;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 12px;
  color: #74cf58;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;

}

.img-wrapper:hover {
 
  z-index: 10;
   transition: 2.5s;
}

.slower {
  transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(0%)
    translateY(-10vh);
}
.slower1 {
  transform: rotate(90deg) translateZ(-0.25px) scale(1.05) translateX(0%)
    translateY(8vh);
}
.slower2 {
  transform: rotate(90deg) translateZ(-0.3px) scale(1.3) translateX(0%)
    translateY(2vh);
}
.slower-down {
  transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(0%)
    translateY(16vh);
}
.faster {
  transform: rotate(90deg) translateZ(0.15px) scale(0.8) translateX(0%)
    translateY(14vh);
}
.faster1 {
  transform: rotate(90deg) translateZ(0.05px) scale(0.8) translateX(0%)
    translateY(10vh);
}
.fastest {
  transform: rotate(90deg) translateZ(0.22px) scale(0.7) translateX(-10vh)
    translateY(-15vh);
}
.vertical {
  transform: rotate(90deg) translateZ(-0.15px) scale(1.15) translateX(0%)
    translateY(0%);
}
.last {
  transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(15vh)
    translateY(-8vh);
}
.scroll-info{
  position: absolute;
  left: 1rem;
}

header {
  position: absolute;
  right: 40%;
  bottom: 0%;
}
.scroll-info {
  top: 1rem;
}
a {
  color: inherit;
  font-weight: 500;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  color: red;
}
h1 {
  font-weight: 300;
  font-size: 1rem;
}

.img-wrapper a {
  overflow: hidden;
  display: block;
  padding: 1vh;
  background: #383549;
  box-shadow: 0 10px 50px #a5b6f7c6;
  border-radius: 12px;
  
  max-width: 20wv;
}
img {
  margin: 12px;
  border-radius: 23px;
  max-width: 65vh;
  max-height: 50vh;
  transition: 0.5s;
  vertical-align: top;
  filter: saturate(80%) sepia(90%) hue-rotate(20deg);
}
img:hover {
  filter: none;
  z-index: 10;
}
p {
  margin: 0;
}
.scroll-info {
  display: flex;
  align-items: center;
  background-color: rgba(185, 182, 212, 0.158)
  ;
  border-radius: 4px;
}
.icon svg {
  width: 50px;
  fill: currentcolor;
}
button {
  padding: 12px;
  border: none;
  color: inherit;
  border-radius: 12px;
}
button:hover {
  background-color: rgb(180, 28, 142);
}
.statue {
  position: absolute;
  bottom: 2%;
  left: 0;
  height: 250px;
  width: auto;
  z-index: 1;
}

header {
  border-radius: 23px;
  padding: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}


@media (max-width: 600px) {
  .statue {display:none;}
  header {
  position: absolute;
  right: 10%;
  bottom: 0;
}
  
}